:root {
  --background: #111111;
}

@font-face {
  font-family: gwentFont;
  src: url(../src/gwent.ttf);
}

h1 {
  font-family: gwentFont;
  font-size: 80px;
}

body {
  background-color: var(--background);
  color: #dadada;
}

button {
/*  width: 120px;
  height: 60px;*/
  background: #663300;
  border: 3px solid #ac7339;
  color: white;
  font-size: 20px;
  padding: 3px 10px;
  cursor: pointer;
  display: none;
}

button.show {
  display: block;
}

.main {
  max-width: 1680px;
  min-height: 945px;
  display: grid;
  grid-template-columns: 1fr 1260px;
  margin: 2rem auto;
  background-image: url(../src/shupe.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.shupe {
  background-color: rgba(0,0,0,0.8);
}

.container {
  display: grid;
  justify-items: center;
  grid-template-rows: 100px 1fr 100px;
  align-items: center;
  grid-gap: 20px;
  background-color: rgba(0,0,0,0.8);
}

.card {
  width: 200px;
  height: auto;
  margin-top: 70px;
  margin-left: -100px;
  outline-style: solid;
  outline-width: 5px;
  outline-color: var(--background);
  transition: all 0.2s ease;
  position: absolute;
}

.card-image {
  /*margin-top: -80px;*/
  margin-left: -160px;
  width: 280px;
  height: auto;
  margin-top: 0px;
  position: absolute;
}

.visible {
  transition: all 0.5s ease;
  transform: rotateY(0deg);
}

.hidden {
  border: solid var(--background) 0px;  
  transition: all 0.5s ease;
  transform: rotateY(90deg);
}

.rolledin {
  opacity: 0;
  transition: all 0.5s ease;
  height: 0%;
}

.rolledout {
  opacity: 1;
  transition: all 0.5s ease;
  height: 100%;
}

.card:hover {
  cursor: pointer;
}


.cards {
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-auto-flow: row;
}

.cards.cardsfour {  
  grid-template-columns: repeat(4, 300px);
}

.cards.cardsthree {  
  grid-template-columns: repeat(3, 300px);
}

.carddata {
  display: grid;
  grid-template-rows: 370px 50px 1fr;
  grid-gap: 10px;
  column-width: 300px;
  justify-items: center;
}

.cardname {
  display: grid;
  align-items: center;
  text-align: center;  
  padding: 0 10px;
  width: 200px;
  font-size: 18px;
  background-color: #222222;
}

.cardname.common,
.cardinfo.common {  
  border-left: 3px solid #ebebeb;
}

.cardname.rare,
.cardinfo.rare {  
  border-left: 3px solid midnightblue;
}

.cardname.epic,
.cardinfo.epic {  
  border-left: 3px solid rebeccapurple;
}

.cardname.legendary,
.cardinfo.legendary {  
  border-left: 3px solid goldenrod;
}

.cardinfo {
  display: grid;
  align-items: center;
  width: 200px;
  text-align: justify;
  padding: 10px;
  background-color: #222222;
}



.card.common:hover {
  outline-color: #ebebeb;
  outline-width: 10px;
}

.card.rare:hover {
  outline-color:midnightblue;
  outline-width: 10px;
}

.card.epic:hover {
  outline-color:rebeccapurple;
  outline-width: 10px;
}

.card.legendary:hover {
  outline-color:goldenrod;
  outline-width: 10px;
}

.pickthree {
  opacity: 0;
}

.pickthree.show {
  opacity: 1;
}